html{
    background-color: #ff99ff;
}
h1{
    /* font-family: Apple Chancery, cursive; */
    font-family: 'Redressed', cursive;
    font-weight: 600;
    font-size: 60px;
    background: #660066;
    color:#ff99ff;
    padding: 10px 3px 10px 10px
}
h2{
    font-family: Apple Chancery, cursive;
}
#user-name{
    /* font-family: Georgia, serif; */
    font-family: 'Roboto Slab', serif;
    color: #660066;
    margin-left: 15px;
}
#sidebar{
    background: #660066;
    height: 750px;
    margin: 15px;
}
#wine_list{
    /* font-family: Georgia, serif; */
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    color: #ff99ff;
}
#add_new{
    color: #ff99ff;
}
.btn.btn-outline-secondary{
    max-width: 200px;
}
#main{
    background:  #660066;
    /* font-family: Georgia, serif; */
    font-family: 'Roboto Slab', serif;
    color:#ff99ff;
    position: center;
}
.img-area{
    padding: 30px 20px 20px 20px;
    max-width: 100%;
    height: auto;
}
section{
    padding-left: 30px;
}